.nav-log {
  font-weight: bold;
  font-size: 30px;
  cursor: default;
  padding-right: 10px;
  border-right: 2px solid black;
}

.custom-margin {
  margin-top: 20px;
}

.btn {
  margin-right: 5px;
}

#addItemModal > div > div > div.modal-body > div > div > form > div:nth-child(4) > div:nth-child(2) > div > span{
  width: 100% !important;
}
body > div.container > div:nth-child(2) > div > div > table > thead > tr > th:nth-child(5),
body > div.container > div:nth-child(2) > div > div > table > tbody > tr > td:last-child{
  text-align: center;
}

.table-scrollbar {
  max-height: 400px;
  overflow-y: scroll;
}
